@import "vars"

@media screen and (max-width: 600px)
	//Mobile Style
	body
		margin: 0
		padding: 0
	.news
		width: 100%
		position: relative
	.news-main-title
		top: 10px
		left: 20px
	.mfp-close
		right: 10px
		top: 0px
		opacity: 1
		z-index: 2000 !important
	.mfp-close:active
		top: 0 
	.owl-nav
		display: none
	.mfp-bg
		opacity: 1
	.card-title.small-title
		padding-top: 40px
	.card-content
		padding: 20px
	.news-card-item,.news-card, .news	
		// height: 600px
		height: 95vh
	.news-card-item .button-start
		margin-top: 70px
	.seeAlso-item
		width: 100%
	.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-ready
		top: 0px
		position: fixed
		height: 100%
		// overflow-y: scroll	
	.news-card-item.finish-slide.active
		padding: 19px
		padding-top: 0
		padding-bottom: 0
	.mfp-content
		vertical-align: top
		position: relative
		top: 10px	
	.owl-dots
		top: 10px
	.mfp-container
		//overflow: hidden			




